// COLORS
$primary-color: #284B63;
$secondary-color: #153243;

$white-color: #ffffff;

$dark-grey: #061F2E;
$light-grey: #92C2DD;

$dark-blue-text: #061F2E; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
